<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}BikeFlow | Contact{% endblock %}
{% block body %}


<div class='container'>

<div class="col-md-6">
  <div class="chart-wrapper">
    <div class="chart-stage">
      <div id="grid-1-1">
        <a href='http://journals.aps.org/pre/abstract/10.1103/PhysRevE.93.042612'>
        <img src='../static/images/slide16.png' alt = 'some text' width = 400> </a>
      </div>
    </div>

  </div>
</div>

<div class="col-md-6">
  <div class="chart-wrapper">
    <div class="chart-title">
      <h4>Daniel Evans</h4>
        </div>
    <div class="chart-stage">
      <div id="grid-1-1">
        <a href="https://www.linkedin.com/in/djevans071">LinkedIn</a>
        <br>
        <a href="https://github.com/djevans071">GitHub</a>
        <br><br>
        <p>
          I received my PhD in physics at NYU for studying interactions between bacteria sized particles in suspension by trapping them with lasers and observing at their trajectories (<a href='http://journals.aps.org/pre/abstract/10.1103/PhysRevE.93.042612'>Phys. Rev. E 93, 042612</a>). It is fascinating that something as simple as trajectories can lead to the understanding of fundamental aspects of the physical world. What excited me most about my thesis research was uncovering unique insights from the data I collected. I revel in the machinery of transforming data into ideas.
        </p>
      </div>
    </div>

  </div>
</div>


</div>




{% endblock %}
