<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}BikeFlow | Home{% endblock %}
{% block body %}

<div class="jumbotron">
       <h1>Welcome to BikeFlow</h1>
       <p class="lead">Here you can check the realtime status of a Citibike station, observe the average bike traffic in and out of that station, and get a recommendation for rebalancing that station. Click enter to check it out.</p>
       <p><a class="btn btn-lg btn-success" href="{{url_for('input')}}" role="button">Enter</a></p>
     </div>


<!-- /.container-->

{% endblock %}
