<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Bike Flow | Station Output{% endblock %}
{% block body %}

<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="{{url_for('index')}}">Home</a></li>
        <li role="presentation"><a href="{{url_for('about')}}">About</a></li>
        <li role="presentation"><a href="{{url_for('contact')}}">Contact</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">BikeFlow</h3>
  </div>


<div class="container">
  <div class="starter-template">
    <h2>Please select a station</h2>
  </div>

  <form class="form-inline" method="GET" action="{{ url_for('output') }}">
    <center>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Station</span>
          <select name="station-select" class="selectpicker form-control" onchange="this.form.submit()">
                <option value="{{ station_df[station_df.id == selected_id].id }}" disabled selected></option>
                {% for _, x in station_df.iterrows() %}
                <option value="{{ x.id }}">{{ x['neighborhood'] }} | {{ x['name'] }}</option>
                {% endfor %}
              </select>
        </div>
        <!-- <button type="submit" class="btn btn-default">Go</button> -->
      </div>
    </center>
  </form>
</div>


<br><br>



<!-- New Container -->
<div class="container">
  <div class="jumbotron-narrow">
    <h2>Results: </h2>


    <div class="col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Hourly Flows for Station: <b>{{ st_info[0] }}</b> | <b>{{ st_info[1] }}</b>
        </div>
        <div class="chart-stage">
          <div id="grid-1-1">
            {{ plot | safe }}
          </div>
        </div>
        <div class="chart-notes">
          You are looking at the average number of bikes as a fraction of total available docks that enter this station on <b>{{ dayofweek }}s</b>. If the value is positive, bikes are <b>entering</b> the station. If it's negative, bikes are <b>leaving</b> the station. The red bar indicates the current hour.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="chart-wrapper">
        <div class="chart-title">
          Map of {{ st_info[0] }}
        </div>
        <div class="chart-stage">
          <div id="grid-1-2">
            {% include "station_map.html" %}
          </div>
        </div>
        <div class="chart-notes">
          Current Availability: <b>{{ bike_avail['availableBikes'].iloc[0] }}</b> bikes,  <b>{{ bike_avail['availableDocks'].iloc[0] }}</b> empty docks
          <br>out of <b>{{ bike_avail['totalDocks'].iloc[0] }}</b> total docks
        </div>
      </div>
    </div>

  </div>
</div>

<br><br>

<!-- /.container -->

<div class="container">
  <div class="starter-template">
    <h2>Rebalancing Recommendation:</h2>
       <p class="lead">For this station at <b>{{time}}</b> (temperature: {{now_temp}} &deg;F): <br>
      {% if rec == 'Station Offline' or rec == 'Prediction Failed' %}
        <strong>{{rec}}</strong>
      {% elif (rec < error_plus) and (rec > error_minus) %}
        <span style="color:blue;font-weight:bold">No Rebalancing Necessary</span>
      {% elif rec >= error_plus %}
         <span style="color:red;font-weight:bold">Remove Bikes</span>
      {% elif rec <= error_minus %}
         <span style="color:green;font-weight:bold">Add Bikes</span>
      {% endif %}
       </p>

  </div>

</div>
<!-- /.container-->

{% endblock %}
