<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Station Output{% endblock %}
{% block body %}

<!--  CONTAINER  -->
<div class="container">
  <div class="starter-template">
    <h3>Please select a station</h3>
  </div>

  <form class="form-inline" method="POST" action="{{ url_for('output') }}">
    <center>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Station</span>
          <select type='text' name="station-select" class="selectpicker form-control">atom
                {% for _, x in station_df.iterrows() %}
                <option value="{{ x.id }}">{{ x['neighborhood'] }} | {{ x['name'] }}</option>
                {% endfor %}
              </select>
        </div>
        <button type="submit" class="btn btn-default">Go</button>
      </div>
    </center>
  </form>
</div>

<!-- New Container -->
<div class="container">
  <div class="starter-template">
    <h3>Results: {{ st_info[0] }} </h3>
    <center>
      {% include "station_map.html" %} {{ plot | safe }}
    </center>
    <p>You are looking at the average number of bikes as a fraction of total available docks that enter <b>{{ st_info[0] }}</b> in <b>{{ st_info[1] }}</b>, <b>{{ st_info[2] }}</b> at a given time of day.
    </p>
  </div>




</div>
<!-- /.container -->

<div class="container">
  <div class="starter-template">
    <!-- <h3>Another Result:</h3>
       <p class="lead">Now we've taken the input and called a function from your package.<br>The result is {{the_result}}</p> -->
  </div>

</div>
<!-- /.container-->

{% endblock %}
