<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_81c18271cfd74f8e8c4c733361d54140 {
                position : relative;
                width : 350.0px;
                height: 350.0px;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_81c18271cfd74f8e8c4c733361d54140" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_81c18271cfd74f8e8c4c733361d54140 = L.map(
                                  'map_81c18271cfd74f8e8c4c733361d54140',
                                  {center: [40.7575699,-73.99098507],
                                  zoom: 15,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_785528daefe240228a1c5d604e0f89ec = L.tileLayer(
                'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
                    detectRetina: false
                    }
                ).addTo(map_81c18271cfd74f8e8c4c733361d54140);

        
    

            var marker_c19a4f5862424dfc950b0e9923f02bf7 = L.marker(
                [40.7575699,-73.99098507],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_81c18271cfd74f8e8c4c733361d54140);
            
    

                var icon_51aae92257684a7daace7fbab07d459d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c19a4f5862424dfc950b0e9923f02bf7.setIcon(icon_51aae92257684a7daace7fbab07d459d);
            
    
            var popup_f59be99eafc34754ae06e64064b690db = L.popup({maxWidth: '300'});

            
                var html_719757c4542e40fbb20f275ec76da265 = $('<div id="html_719757c4542e40fbb20f275ec76da265" style="width: 100.0%; height: 100.0%;">W 42 St &amp; 8 Ave</div>')[0];
                popup_f59be99eafc34754ae06e64064b690db.setContent(html_719757c4542e40fbb20f275ec76da265);
            

            marker_c19a4f5862424dfc950b0e9923f02bf7.bindPopup(popup_f59be99eafc34754ae06e64064b690db);

            
        
</script>